@font-face {
	font-family: ComputerModern;
	src: url(assets/fonts/ComputerModern/ComputerModern-Regular.ttf);
}

body {
	background-image: linear-gradient(#000, #151515);
	color: #696969;
	font-family: ComputerModern;
	text-align: center;
}

p {
	color: #696969;
}

b {
	font-weight: bolder;
}

/* Container center */
.c-center {
	height: 100%;
	width: 100%;
	text-align: center;

	display: table;
}

/* Paragraph center */
.p-center {
	vertical-align: middle;

	display: table-cell;
	padding: 2rem;
	line-height: 2;
}

h1#name {
	color: #e8e8e8;
	display: inline-block;
	border-right: 2px solid;
	animation: blink 0.75s step-end infinite;
}

h1,
h2,
h3 {
	color: #e8e8e8;
}

@keyframes blink {
	from,
	to {
		border-color: transparent;
	}
	50% {
		border-color: #e8e8e8;
	}
}

.divider {
	margin: 16rem;
}

a.socials {
	margin: 8px;
	text-decoration: none;
}
