/*
<p> tag for light text, 
<h2> for title,
<h3> for subtitle
<h4> for normal text
*/

@font-face {
    font-family: Raleway;
    src: url(./css/fonts/Raleway-Regular.ttf);
}

@font-face {
    font-family: SUITE;
    src: url(./css/fonts/SUITE-Regular.ttf);
}

body {
    background-color: #121212;
    color: #ffffff;
    font-family: Raleway, SUITE, Helvetica, sans-serif;
    font-weight: normal;
}

nav {
    height: 64px;
    margin-left: 20%;
    margin-right: 20%;
    align-items: center;
}

h1 {

    font-size: 32px;
}
p {
    font-weight: lighter;
    color: #696969;
}

.everything {
    margin: 10%;
    display: flex; 
    gap: 0px; 
    align-items: flex-start; 
}

.about {
    width: 256px;
    text-align: center;
    flex-shrink: 0;
}

.clickable {
    cursor: pointer;
}

.content {
    width: calc(100% - 276px); 
    height: 100px;
    background-color: #212121;
    border-radius: 5px; 
    flex-shrink: 0; 
}

.downloader {
    display: inline-block; 
    padding: 10px 20px; 
    background-color: #696969; 
    color: white; 
    text-decoration: none; 
    border-radius: 5px; 
    margin-right: 10%;
}