/* General styles */
html,
body {
	height: 100%;
	margin: 0;
	padding: 0;
	overflow-x: hidden;
	overflow-y: auto;
	background-image: linear-gradient(#000000, #000000);
	font-family: "ChosunGu", sans-serif;
	color: #e8e8e8;
	text-align: center;
}

@font-face {
	font-family: "ChosunGu";
	src: url("assets/fonts/ChosunGu.TTF") format("truetype");
}

@font-face {
	font-family: "ChosunGs";
	src: url("assets/fonts/ChosunGs.TTF");
}

@font-face {
	font-family: "CMU Serif";
	src: url(assets/fonts/ComputerModern/ComputerModern-Regular.ttf);
}

/* Container center */
.c-center {
	height: 100vh;
	width: 100vw;
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
	z-index: 1;
}

.p-center {
	padding: 2rem;
}

.gs {
	font-family: "ChosunGs" !important;
}

.cmu {
	font-family: "CMU Serif" !important;
}

p {
	font-size: 18px;
}

a {
	color: #5865f2;
	text-decoration: none;
}

#divider {
	border: none;
	border-top: 4px solid #212121ab;
	margin: 10rem;
	margin-top: 5rem;
	margin-bottom: 5rem;
}

.grid-2col {
	margin: auto;
	width: 20%;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-template-rows: 1fr;
	grid-column-gap: 0px;
	grid-row-gap: 0px;
}

.content {
	text-align: left;
	margin: auto;
	width: 50%;
	border-style: solid;
	border-color: #121212;
	border-radius: 4px;

	p {
		margin: 1rem;
	}
}
