@font-face {
	font-family: ComputerModern;
	src: url(assets/fonts/ComputerModern/ComputerModern-Regular.ttf);
}

body {
	background-color: black;
	color: white;
	font-family: ComputerModern;
	text-align: center;
}

b {
	color: #f2ed58;
	font-family: monospace;
}

.centercontainer {
	height: 100%;
	width: 100%;
	text-align: center;

	display: table;
}

.verticalcenter {
	vertical-align: middle;

	display: table-cell;
	padding: 2rem;
	line-height: 2;
}
