/*
<p> tag for light text, 
<h2> for title,
<h3> for subtitle
<h4> for normal text
*/

@font-face {
    font-family: Brass;
    src: url(./css/fonts/BrassMono-Regular.ttf);
}

@font-face {
    font-family: Raleway;
    src: url(./css/fonts/Raleway-Regular.ttf);
}

@font-face {
    font-family: SUITE;
    src: url(./css/fonts/SUITE-Regular.ttf);
}

body {
    background-color: #121212;
    color: #ffffff;
    font-family: Brass, SUITE, Helvetica, sans-serif;
    font-weight: normal;
    margin-left: 20%;
    margin-right: 20%;
}

nav {
    height: 64px;
}

.grid-container2 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    padding: 10px;
}

.grid-item {
    display: flex;
    align-items: center;
    height: 64px;
}

.content {
    display: flex; 
    flex-direction: row; 
    align-items: center; 
}

.button {
    position: relative;
    font-family: Raleway, SUITE, Monospace, serif;
    font-weight: normal;
    padding: 10px 20px;
    background-color: #121212;
    color: #ffffff;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    margin-right: 20px; /* Adds a horizontal gap between buttons */
    margin-left: 20px;
}

.button:hover {
    background-color: #181828;
}