@font-face {
    font-family: Brass;
    src: url(./css/fonts/BrassMono-Regular.ttf);
}

@font-face {
    font-family: Raleway;
    src: url(./css/fonts/Raleway-Regular.ttf);
}

@font-face {
    font-family: SUITE;
    src: url(./css/fonts/SUITE-Regular.ttf);
}

@font-face {
    font-family: 'HS-Regular';
    src: url('https://gcore.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/HS-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
    background-color: #121212;
    color: #ffffff;
    font-family: Brass, SUITE, Helvetica, sans-serif;
    font-weight: normal;
    margin-left: 20%;
    margin-right: 20%;
}

nav {
    height: 64px;
}

p {
  color: #696969;
  font-size: 24px;
  font-family: Raleway;  
}

.grid-container2 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    padding: 10px;
}

.grid-item {
    display: flex;
    align-items: center;
    height: 64px;
}

.content {
    display: flex; 
    flex-direction: row; 
    align-items: center; 
}

.button {
    position: relative;
    font-family: Raleway, SUITE, Monospace, serif;
    font-weight: normal;
    padding: 10px 20px;
    background-color: #121212;
    color: #ffffff;
    border: none;
    border-radius: 50px;
    margin-right: 20px; 
    margin-left: 20px;
    opacity: 1; 
    transition: background-color 0.5s ease, opacity 0.5s ease;
}

.button:hover { 
    background-color: #181828;
    opacity: 0.8; 
    cursor: pointer;
}

.icon {
    opacity: 1;
    transition: opacity 0.5s ease;
}

.icon:hover {
    opacity: 0.5;
    cursor: pointer;
}

/* --- New classes for titles and text --- */
.title {
    font-size: 2.5rem;
    font-family: Brass, SUITE, Helvetica, sans-serif;
    font-weight: bold;
    color: #ffffff;
    margin-bottom: 0.5em;
}

.subtitle {
    font-size: 1.5rem;
    font-family: Raleway, SUITE, Helvetica, sans-serif;
    font-weight: 600;
    color: #696969;
    margin-bottom: 0.5em;
}

.normal {
    font-size: 1.1rem;
    font-family: SUITE, Helvetica, sans-serif;
    font-weight: normal;
    color: #dddddd;
    margin-bottom: 0.5em;
}

a {
    text-decoration: none;
}