@import 'ext/solarized-light';

@font-face {
  font-family: SNPro-Regular;
  src: url(/assets/font/SNPro-Regular.ttf);
}

.highlight {
	background-color: #f4f4f4;
}

div.highlight {
	padding: 5px 20px;
}
pre.highlight, code {
	font-family: 'SNPro-Regular', Menlo, monospace;
	line-height: 1.4em;
	tab-size: 4;
}