---
---

@import "plain";

{% if site.plainwhite.search %}
  @import "search";
{% endif %}

{%- if site.plainwhite.dark_mode -%}
  @import "toggle";
  @import "dark";
{%- endif -%}

@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&family=Seaweed+Script&family=Tajawal:wght@200;300;400;500;700;800;900&display=swap');

.post {
  font-family: "Raleway", sans-serif;
  font-weight: 300;
  color: #fff;
  line-height: 1.9em;

  b, strong {
    color: #81ffff;
  }

  i, em {
    color: #ff81ff;
  }
}