---
---

@import "plain";

{% if site.plainwhite.search %}
  @import "search";
{% endif %}

{%- if site.plainwhite.dark_mode -%}
  @import "toggle";
  @import "dark";
{%- endif -%}

@font-face {
  font-family: "SNPro-Regular";
  src: url("/assets/font/SNPro-Regular.ttf");
}

@font-face {
  font-family: "SNPro-Bold";
  src: url("/assets/font/SNPro-Bold.ttf");
}

@font-face {
  font-family: "SNPro-Italic";
  src: url("/assets/font/SNPro-BoldItalic.ttf");
}

html, body {
  font-family: "SNPro-Regular", sans-serif;
}

.post {
  font-family: "SNPro-Regular", sans-serif;
  font-weight: 300;
  line-height: 1.9em;

  b, strong {
    color: #81ffff;
    font-family: "SNPro-Bold"
  }

  i, em {
    color: #ff81ff;
    font-weight: bold;
    font-family: "SNPro-Italic"
  }
}